/* Estilos generales para el panel de usuario */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto; /* Permite el scrollbar vertical cuando sea necesario */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el título horizontalmente */
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
}

.welcome-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.welcome-section h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.welcome-section p {
  margin-bottom: 30px;
  color: #555;
}

.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.menu-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 80vh; /* Limita la altura máxima del contenedor */
  overflow-y: auto; /* Permite el scroll interno si es necesario */
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten en varias filas */
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 15px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  flex: 1 1 calc(33.333% - 30px); /* Ajusta el ancho de los botones */
  max-width: 200px; /* Limita el ancho máximo de los botones */
}

.btn:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .btn {
    width: 80%;
  }
}

.back-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.back-button {
  background-color: #007bff;
}

.back-button:hover {
  background-color: #0056b3;
}

.app-footer {
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto; /* Empuja el pie de página al final del contenedor */
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .menu-section {
    flex-direction: row;
    justify-content: center;
  }
}
